

component-body {
  display: inline-block;
  width: 100%;
  position: relative;
  /* todo bug */
  /* overflow: hidden; */
}

component-body > * {
  display: block;
  width: 100%;
  position: relative;
  float: left;

  /* content-visibility: hidden;
  contain-intrinsic-size: 100vh; */
}

