<svg xmlns="http://www.w3.org/2000/svg" width="16.144" height="13.43" viewBox="0 0 16.144 13.43">
  <g id="right-arrow" transform="translate(0 -41.346)">
    <g id="Group_236" data-name="Group 236" transform="translate(0 41.346)">
      <path id="Path_706" data-name="Path 706" d="M15.886,47.434l-5.83-5.83a.886.886,0,0,0-1.25,0l-.529.529a.877.877,0,0,0-.258.625.894.894,0,0,0,.258.632l3.4,3.409H.872A.862.862,0,0,0,0,47.667v.749a.9.9,0,0,0,.872.907H11.716l-3.44,3.428a.875.875,0,0,0,0,1.241l.529.528a.886.886,0,0,0,1.25,0l5.83-5.83a.891.891,0,0,0,0-1.254Z" transform="translate(0 -41.346)"/>
    </g>
  </g>
</svg>
