node_modules
test.js
dist/
.DS_Store
.idea*
.deploy

package-lock.json
pnpm-lock.yaml

public/sw.js
public/sw.*.js

ecosystem.config.js
.ecosystemCache
pm2Reload.js


deploy.zip
debug.log
pugBody.gen.ts

.env

.github/workflows
