
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286.499" height="287.95" viewBox="0 0 273.499 295.95">
  <g id="body" style="transform: translateX(-4px)">
  </g>
</svg>