left-side
  side-wrapper
    c-text-blob(name="txtBlob")
    btn-wrapper(name="btnContainer")

right-side
  c-scroll-body(center x scrollSnap fadeInOnScroll name="scrollBody" propagateFullViewProgressAttr="relativeScrollProg")
    c-parallax-img-card.loading
    c-parallax-img-card.loading
    c-parallax-img-card.loading
    c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    //- c-parallax-img-card.loading
    