:host {
  display: block;
  position: relative;
}


component-body {
  background-color: rgb(var(--secondary-themed-background));
  min-height: 600px;
}

component-body right-side {
  padding-left: 0;
  padding-right: 3%;
}

component-body.mobile right-side {
  padding-left: calc(10% - 20px);
  padding-right: calc(10% - 20px);
}


c-scroll-body {
  --fade-rgb-values: var(--secondary-themed-background);
  --innerPadding: 15px 0;
}

c-block-button {
  --background-color: rgb(var(--primary-theme));
}

c-ripple-button, c-parallax-img-card {
  border-radius: 15px;
}

c-parallax-img-card {
  --skeleton-color: rgb(var(--secondary-strongly-themed-background)) !important;
}

c-block-button.themed {
  --background-color: rgb(var(--secondary-theme));
}
c-text-blob {
  --theme: var(--secondary-theme);
}

btn-wrapper {
  display: grid;
  gap: 10px;
  justify-content: start;
}

btn-wrapper > * {
  grid-row: 1
}
