<svg xmlns="http://www.w3.org/2000/svg" width="7.06" height="14.031" viewBox="0 0 7.06 14.031">
  <path id="Path_220" data-name="Path 220" d="M10,19a1,1,0,0,1-.77-1.64L13.71,12,9.39,6.63A1.022,1.022,0,1,1,11,5.37l4.83,6a1,1,0,0,1,0,1.27l-5,6A1,1,0,0,1,10,19Z" transform="translate(-8.998 -4.971)"/>
</svg>
