
<svg xmlns="http://www.w3.org/2000/svg" width="288.861" height="197.451" viewBox="0 0 288.861 197.451">
  <g id="Group_89" data-name="Group 89" transform="translate(-1017.403 -2446.812)">
    <g id="Group_53" data-name="Group 53" transform="translate(-3.189 16.33)">
      <path id="Path_120" data-name="Path 120" d="M702.743,175.324c-13.168-45.794-58.668-78.85-112.075-80.176-28.235-.7-57.946,7.581-79.578,36.561-38.669,51.805,2.376,87.6,30.992,104.615a173.586,173.586,0,0,1,37.01,29.419c19.329,20.285,56.513,45.492,100.8,6C711.99,243.113,711.515,205.827,702.743,175.324Z" transform="translate(601.589 2335.375)" fill="#e5ebfc" opacity="0.69"/>
    </g>
    <g id="Group_45" data-name="Group 45" transform="translate(998.997 2457.001)">
      <g id="Group_42" data-name="Group 42" transform="translate(18.406 35.383)">
        <rect id="Rectangle_39" data-name="Rectangle 39" width="243.777" height="1.17" transform="translate(11.958 64.87)" fill="#5e5e76"/>
        <path id="Path_88" data-name="Path 88" d="M386.674,257.029a10.867,10.867,0,0,1-1.314-.074l.16-1.17c.047,0,4.29.558,5.983-1.763,1.209-1.665.885-4.454-.967-8.292-1.4-2.906-1.455-5.32-.148-7.176,3.631-5.16,16.567-3.857,17.117-3.8l-.125,1.17c-.125,0-12.8-1.291-16.033,3.311-1.045,1.482-.963,3.51.242,5.994,2.055,4.255,2.34,7.449.858,9.493C391,256.7,388.293,257.029,386.674,257.029Z" transform="translate(-351.827 -190.923)" fill="#5e5e76"/>
        <path id="Path_89" data-name="Path 89" d="M602.476,311.243c-4.267,0-10.639-.6-13.018-3.986-1.307-1.856-1.256-4.29.148-7.176,1.853-3.842,2.176-6.63.963-8.3-1.693-2.34-5.936-1.771-5.975-1.763l-.164-1.17c.2-.027,4.984-.651,7.086,2.235,1.486,2.044,1.2,5.238-.858,9.493-1.2,2.5-1.287,4.516-.242,6,3.237,4.6,15.9,3.319,16.033,3.307l.125,1.17A36.393,36.393,0,0,1,602.476,311.243Z" transform="translate(-473.259 -223.991)" fill="#5e5e76"/>
        <path id="Path_90" data-name="Path 90" d="M818.8,311.243c-2.246,0-3.9-.168-4.1-.187l.125-1.17c.125,0,12.8,1.291,16.037-3.307,1.041-1.486.959-3.51-.246-6-2.055-4.255-2.34-7.449-.858-9.493,2.1-2.886,6.88-2.262,7.087-2.235l-.16,1.17c-.047,0-4.29-.558-5.983,1.767-1.213,1.665-.885,4.454.967,8.292,1.4,2.906,1.455,5.32.148,7.176C829.442,310.638,823.066,311.243,818.8,311.243Z" transform="translate(-613.722 -223.991)" fill="#5e5e76"/>
        <rect id="Rectangle_40" data-name="Rectangle 40" width="64.324" height="1.17" transform="translate(136.717 85.895)" fill="#5e5e76"/>
        <circle id="Ellipse_36" data-name="Ellipse 36" cx="7.118" cy="7.118" r="7.118" transform="translate(4.84 58.337)" fill="#4773db"/>
        <circle id="Ellipse_37" data-name="Ellipse 37" cx="7.118" cy="7.118" r="7.118" transform="translate(48.618 37.203)" fill="#5ad188"/>
        <circle id="Ellipse_38" data-name="Ellipse 38" cx="7.118" cy="7.118" r="7.118" transform="translate(48.618 58.337)" fill="#4773db"/>
        <circle id="Ellipse_39" data-name="Ellipse 39" cx="7.118" cy="7.118" r="7.118" transform="translate(76.87 58.337)" fill="#4773db"/>
        <circle id="Ellipse_40" data-name="Ellipse 40" cx="7.118" cy="7.118" r="7.118" transform="translate(126.253 79.257)" fill="#f87e9b"/>
        <circle id="Ellipse_41" data-name="Ellipse 41" cx="7.118" cy="7.118" r="7.118" transform="translate(163.568 79.257)" fill="#f87e9b"/>
        <circle id="Ellipse_42" data-name="Ellipse 42" cx="7.118" cy="7.118" r="7.118" transform="translate(161.622 58.337)" fill="#4773db"/>
        <circle id="Ellipse_43" data-name="Ellipse 43" cx="7.118" cy="7.118" r="7.118" transform="translate(246.815 58.337)" fill="#4773db"/>
        <circle id="Ellipse_44" data-name="Ellipse 44" cx="7.118" cy="7.118" r="7.118" transform="translate(211.964 58.337)" fill="#4773db"/>
        <rect id="Rectangle_41" data-name="Rectangle 41" width="23.88" height="16.458" fill="#4773db"/>
        <rect id="Rectangle_42" data-name="Rectangle 42" width="23.88" height="16.458" transform="translate(43.883)" fill="#5ad188"/>
        <rect id="Rectangle_43" data-name="Rectangle 43" width="23.88" height="16.458" transform="translate(121.331)" fill="#fc819c"/>
      </g>
    </g>
  </g>
</svg>
