
<svg width="558" height="644" viewBox="0 0 558 644" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d)">
<path d="M472.866 264.528L338.123 143.444C333.819 148.92 328.093 153.107 321.571 155.549C301.232 163.165 278.327 152.203 270.412 131.065C267.734 124.084 267.013 116.505 268.328 109.144C269.642 101.784 272.942 94.9221 277.871 89.2998L231.927 48.0136L45.6516 269.275L286.59 485.79L472.866 264.528Z" fill="#F7F7FF"/>
<path d="M314.677 147.657C332.064 144.782 343.829 128.357 340.954 110.97C338.08 93.5828 321.654 81.8182 304.267 84.6928C286.88 87.5674 275.115 103.993 277.99 121.38C280.865 138.767 297.29 150.531 314.677 147.657Z" fill="#F7F7FF"/>
</g>


<g id="table">
<path d="M187.062 400.922L190.262 403.293L153.888 459.432L146.742 463.151L187.062 400.922Z" fill="#002E4E" stroke="#002E4E" stroke-width="1.12412" stroke-miterlimit="10"/>  
  <path d="M30 388.304L155.989 233.629L168.801 242.439L44.1993 399.072L30 388.304Z" fill="#C5CAE9"/>
  <path d="M118.889 305.181L132.499 313.576L107.942 342.782L95.5508 334.519L118.889 305.181Z" fill="#1A237E"/>
  <path d="M123.75 323.981L166.487 393.809L149.76 394.83L114.139 333.888L123.75 323.981Z" fill="#1A237E"/>
  <path d="M194.425 393.198H69.3262V399.072H194.425V393.198Z" fill="#1A237E"/>
  <path d="M91.767 404.831H76.1074V608.005H91.767V404.831Z" fill="#1A237E"/>
  <path d="M221.67 404.831H207.078V608.005H221.67V404.831Z" fill="#1A237E"/>
  <path d="M264.379 397.856H38.7012V409.93H264.379V397.856Z" fill="#536DFE"/>
</g>
<path d="M40.6286 180.258C47.6032 180.258 53.2572 174.604 53.2572 167.63C53.2572 160.655 47.6032 155.001 40.6286 155.001C33.654 155.001 28 160.655 28 167.63C28 174.604 33.654 180.258 40.6286 180.258Z" stroke="#3F3D56" stroke-width="2" stroke-miterlimit="10"/>
<path d="M109.629 76.2581C116.603 76.2581 122.257 70.6041 122.257 63.6295C122.257 56.655 116.603 51.001 109.629 51.001C102.654 51.001 97 56.655 97 63.6295C97 70.6041 102.654 76.2581 109.629 76.2581Z" stroke="#3F3D56" stroke-width="2" stroke-miterlimit="10"/>
<g id="woman">
  <path d="M253.109 257.233C251.961 256.734 250.678 256.633 249.465 256.948C248.253 257.262 247.181 257.974 246.422 258.968C243.754 262.354 240.115 269.783 241.512 284.357L246.923 340.8L247.785 397.695C247.785 397.695 255.924 423.926 267.841 423.678C279.759 423.431 257.971 398.553 257.971 398.553C257.971 398.553 260.993 353.417 259.751 340.463C258.593 328.386 270.053 264.727 253.109 257.233Z" fill="#FFB8B8"/>
  <path d="M238.415 231.409L231.583 250.237L241.349 253.305L242.72 280.628L218.506 267.365L206.311 253.7L204.789 243.213C204.789 243.213 214.194 241.555 217.613 220.436L238.415 231.409Z" fill="#FFB8B8"/>
  <path d="M284.262 388.714C284.262 388.714 326.984 432.333 315.976 455.333C304.967 478.332 251.242 558.844 251.242 558.844L236.869 540.23C236.869 540.23 250.997 529.785 257.576 505.308C264.155 480.83 279.047 463.924 283.442 457.907C287.838 451.89 242.174 409.784 246.208 399.04C250.241 388.297 284.262 388.714 284.262 388.714Z" fill="#FFB8B8"/>
  <path opacity="0.1" d="M284.262 388.714C284.262 388.714 326.984 432.333 315.976 455.333C304.967 478.332 251.242 558.844 251.242 558.844L236.869 540.23C236.869 540.23 250.997 529.785 257.576 505.308C264.155 480.83 279.047 463.924 283.442 457.907C287.838 451.89 242.174 409.784 246.208 399.04C250.241 388.297 284.262 388.714 284.262 388.714Z" fill="black"/>
  

  <path id="footNormal" d="M257.418 545.553C257.418 545.553 261.881 554.527 260.536 558.108C259.192 561.689 252.142 582.364 252.142 582.364C252.142 582.364 259.648 612.311 254.202 611.644C248.756 610.978 229.047 590.775 229.92 583.391L232.432 562.161L226.331 567.033L218.564 554.846L229.389 541.188C229.389 541.188 241.011 528.564 244.642 529.008C248.273 529.452 257.418 545.553 257.418 545.553Z" fill="#2F2E41"/>
  <path id="footCut" d="M260.594 558.111C261.938 554.53 257.475 545.556 257.475 545.556C257.475 545.556 248.33 529.456 244.7 529.011C242.928 528.794 239.379 531.69 236 534.911L236.226 595.885C242.085 603.358 250.898 611.231 254.264 611.642C259.71 612.309 252.203 582.362 252.203 582.362C252.203 582.362 259.249 561.692 260.594 558.111Z" fill="#2F2E41"/>




  <path d="M248.931 399.374L251.797 406.279L263.835 460.19C263.835 460.19 268.626 466.395 267.131 486.812C265.636 507.23 291.282 586.216 291.282 586.216L292.149 602.241L276.718 600.353L266.195 580.338C266.195 580.338 262.244 559.253 250.703 540.05C239.163 520.846 239.177 474.028 239.177 474.028L208.119 401.871L232.559 389.879L248.931 399.374Z" fill="#FFB8B8"/>
  <path d="M286.02 576.208C286.02 576.208 290.668 575.84 291.357 577.797C292.047 579.755 305.941 617.974 305.941 617.974C305.941 617.974 332.366 643.681 319.44 643.972C306.514 644.263 284.839 640.675 281.174 632.735C277.509 624.796 273.264 613.976 273.264 613.976L271.954 625.053L261.717 618.182C261.717 618.182 255.992 580.962 262.673 578.97C269.354 576.978 286.02 576.208 286.02 576.208Z" fill="#2F2E41"/>
  <path d="M270.435 365.485C270.435 365.485 281.252 375.236 280.235 376.048C279.218 376.86 286.37 378.672 285.026 382.253C283.681 385.834 291.086 393.295 287.455 392.85C283.824 392.406 269.738 386.937 254.157 401.886L251.434 401.553L251.796 406.279C251.796 406.279 240.508 392.725 211.346 413.503C211.346 413.503 201.689 409.512 203.033 405.931C204.378 402.35 187.35 398.394 196.543 375.172C205.737 351.951 234.203 352.625 234.203 352.625L270.435 365.485Z" fill="#2F2E41"/>
  <path d="M211.833 245.948C211.833 245.948 207.151 238.82 204.319 239.41C201.486 240 186.001 239.644 183.53 244.96C181.059 250.276 192.825 305.424 190.934 313.62C189.044 321.817 179.003 383.327 187.643 388.13C196.284 392.932 206.384 369.822 206.384 369.822C206.384 369.822 233.547 358.163 256.601 365.666C279.655 373.168 272.578 362.938 272.578 362.938C272.578 362.938 256.062 346.872 258.574 325.642C261.086 304.412 262.212 302.677 257.967 291.857C257.967 291.857 257.21 274.91 257.756 270.294C258.302 265.679 261.68 260.474 259.175 258.295C256.671 256.116 230.676 250.126 230.676 250.126C230.676 250.126 243.854 255.484 237.862 259.433C231.87 263.382 211.833 245.948 211.833 245.948Z" fill="#3F3D56"/>

  

  <path d="M188.815 242.376C189.975 241.904 191.26 241.833 192.466 242.175C193.671 242.517 194.726 243.253 195.463 244.264C198.054 247.71 201.528 255.221 199.808 269.759L193.146 326.064L191.023 382.925C191.023 382.925 192.394 410.248 180.485 409.727C168.576 409.206 180.82 383.549 180.82 383.549C180.82 383.549 178.8 338.355 180.329 325.432C181.755 313.386 171.71 249.48 188.815 242.376Z" fill="#FFB8B8"/>
  <path d="M234.111 229.88C250.695 229.88 264.139 216.209 264.139 199.344C264.139 182.479 250.695 168.808 234.111 168.808C217.526 168.808 204.082 182.479 204.082 199.344C204.082 216.209 217.526 229.88 234.111 229.88Z" fill="#003FD2"/>
  <path d="M218.437 144.989C220.687 148.267 224.052 150.62 227.908 151.61C234.531 153.413 227.962 163.534 227.962 163.534C227.962 163.534 230.35 159.854 226.905 155.956C223.46 152.059 217.915 149.394 218.437 144.989Z" fill="#003FD2"/>
  <path d="M229.136 174.472C233.758 174.472 237.505 170.662 237.505 165.962C237.505 161.262 233.758 157.452 229.136 157.452C224.514 157.452 220.768 161.262 220.768 165.962C220.768 170.662 224.514 174.472 229.136 174.472Z" fill="#003FD2"/>
  <path d="M231.652 175.225C231.652 175.225 240.202 189.687 260.084 195.101C279.966 200.515 260.246 230.897 260.246 230.897C260.246 230.897 267.417 219.849 257.074 208.149C246.731 196.449 230.087 188.45 231.652 175.225Z" fill="#003FD2"/>
  <path d="M230.974 174.346C230.974 174.346 222.76 194.211 213.743 196.089C204.725 197.967 205.409 229.355 219.511 234.062C219.511 234.062 209.228 215.661 218.018 203.32C226.807 190.979 232.359 181.224 230.974 174.346Z" fill="#003FD2"/>
  <path d="M218.452 173.095C225.274 170.471 236.634 169.14 242.478 170.05L241.676 164.098C236.058 167.051 224.75 168.439 217.65 167.143L218.452 173.095Z" fill="#3F3D56"/>
<path d="M234.936 236.44C247.054 236.44 256.877 226.451 256.877 214.128C256.877 201.805 247.054 191.815 234.936 191.815C222.818 191.815 212.994 201.805 212.994 214.128C212.994 226.451 222.818 236.44 234.936 236.44Z" fill="#FFB8B8"/>
</g>


<defs>
<filter id="filter0_d" x="0" y="0" width="518.517" height="533.803" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset/>
<feGaussianBlur stdDeviation="7.5"/>
<feComposite in2="hardAlpha" operator="out"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
</filter>
</defs>
</svg>
