:host {
  --font-size: 16px;
  --theme: var(--primary-theme);
  --theme-srgb-values: var(--primary-theme-srgb-values);
  display: inline-block;
  margin-bottom: 20px;
  --body-size: 70%;
  --header-fontsize-factor: 2.5;
  --header-fontsize: calc(var(--font-size) * var(--header-fontsize-factor));

  --pop-underline-opacity: .8;
}

h1 {
  font-size: var(--header-fontsize);
  position: relative;
  margin-bottom: .2em;
  margin-top: .15em;
  line-height: calc(.85em + 10px);
  display: inline-block;
}
h1 > span {
  position: relative;
}

:host([center]) {
  text-align: center;
}

p {
  margin-top: 0;
  font-size: var(--font-size);
  position: relative;
  width: var(--body-size);
  margin-bottom: 0;
}

note-header {
  --my-theme: var(--theme);
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--theme);
  position: relative;
  display: block
}

note-header::selection {
  background-color: var(--primary-theme-selection);
}


pop-underline {
  display: none;
  background-color: var(--theme);
  width: 100%;
  height: 27px;
  left: 0;
  bottom: 0;
  position: absolute;
  opacity: var(--pop-underline-opacity);

}

:host([popUnderline]) pop-underline {
  display: inline-block;
}

