:host {
  --primary-text: rgb(45, 30, 30);
  --primary-text-values: 45, 30, 30;
  --plain-text: rgb(0, 0, 0);
  --primary-theme: color(display-p3 0.298 0.8353 0.0863);
  --primary-theme-srgb: rgb(0% 84.128% 0%);
  --primary-theme-srgb-values: 0% 84.128% 0%;
  --primary-themed-background-transparent: color(display-p3 0.298 0.8353 0.0863 / .14);
  --primary-themed-background-transparent-srgb: rgba(0% 84.128% 0% / 14%);
  --primary-themed-background-fill: color(display-p3 0.8941 0.9686 0.8627);
  --primary-themed-background-fill-srgb: rgb(87.619% 97.16% 85.303%);
  --primary-themed-background: var(--primary-themed-background-fill);
  --primary-themed-background-srgb: var(--primary-themed-background-fill-srgb);

  --primary-theme-selection: rgba(var(--primary-theme-srgb-values) / 0.20);





  --complementary-theme: rgb(0, 63, 210);
  --complementary-theme-srgb: rgb(0, 63, 210);

  --plain-background: rgb(255, 255, 255);
  --plain-background-values: rgb(255, 255, 255);
  --normal-background: rgb(251, 251, 250);
  --normal-background-values: 251, 251, 250;
  --dark-background: rgb(93.725% 93.725% 93.725%);
  --darken: rgb(0, 0, 0, .1);
  --dark-background-values: 239, 239, 239;
  --soft-shadow: 0px 0px 30px 0px rgba(0,0,0,0.07);
  --strong-shadow: 0px 0px 60px 20px rgba(0,0,0,0.15)
  
}