
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20">
  <g id="Group_25" data-name="Group 25" transform="translate(942 1498) rotate(180)">
    <rect id="Rectangle_22" data-name="Rectangle 22" width="10" height="10" transform="translate(912 1488)" fill="#2459d7"/>
    <rect id="Rectangle_23" data-name="Rectangle 23" width="10" height="10" transform="translate(932 1478)" fill="#ee2534"/>
  </g>
</svg>
