<svg xmlns="http://www.w3.org/2000/svg" width="51" height="16" viewBox="0 0 51 16">
  <g id="Group_9" data-name="Group 9" transform="translate(-124 -397)">
    <rect id="Rectangle_3" data-name="Rectangle 3" width="34" height="5" transform="translate(124 408)" fill="#ee2534"/>
    <rect id="Rectangle_4" data-name="Rectangle 4" width="34" height="5" transform="translate(141 397)" fill="#003fd2"/>
  </g>
</svg>
