<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="311" height="112" viewBox="0 0 311 112">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_184" data-name="Rectangle 184" width="311" height="112" transform="translate(874 1642)" fill="#fff" stroke="#707070" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Mask_Group_22" data-name="Mask Group 22" transform="translate(-874 -1642)" clip-path="url(#clip-path)">
    <g id="Group_33" data-name="Group 33">
      <rect id="Rectangle_18" data-name="Rectangle 18" width="504" height="52" transform="translate(992 1687)" fill="#2357d4"/>
      <g id="Group_32" data-name="Group 32" transform="translate(1 1)">
        <rect id="Rectangle_20" data-name="Rectangle 20" width="256" height="81" rx="16" transform="translate(873 1641)" fill="#fff"/>
        <text id="tag" transform="translate(897 1677)" fill="#2d1e1e" font-size="19" font-family="AvertaCY-Bold, Averta CY" font-weight="700"><tspan x="0" y="0"></tspan></text>
        <text id="tagDesc" data-name="Social media brand" transform="translate(897 1701)" fill="#2d1e1e" font-size="18" font-family="AvertaCY-Regular, Averta CY"><tspan x="0" y="0"></tspan></text>
      </g>
      <rect id="Rectangle_19" data-name="Rectangle 19" width="173" height="52" transform="translate(1080.5 1702)" fill="#ee2534"/>
    </g>
  </g>
</svg>
