:host {
  background-color: rgb(var(--tertiary-themed-background-soft));
  display: inline-block;
}

component-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;

  --oversized: max(min(85vw, 170%), 100%);
  --normalFontSize: 18px;
  font-size: var(--normalFontSize);

  --margin: 1em;
}

:host(.noBg) {
  background-color: transparent;
}

:host(.noBg) background-container {
  display: none;
}

content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}






blog-content {
  /* margin-top: 200px; */
  transition: .3s margin-top;
  width: calc(15% + 450px);
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

@media (max-width: 620px) {
  blog-content {
    margin-top: 80px;
    width: 88%; /* 100 - (6 * 2) */
  }
}


/* background */
background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

lines-container {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 300px;
}

bg-line {
  --angle: 30deg;
  position: absolute;
  width: calc(1 / cos(var(--angle)) * 100%);
  background-color: white;
  height: 7px;
  transform-origin: 0;
  transform: rotate(var(--angle));
}






/* BLOG POST */

/* blog post heading */

title-container {
  width: var(--oversized);
  /* position: relative; */
  /* It is important that this does not have pos: rel. Because we use offsetTop in ghostBlogPage in relativeViewProgressData to find current offset to parent anchor element. Which should start at very top.  */
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}


title-container > c-image, title-container > c-parallax {
  width: max(60%, 200px);
  flex-grow: 1;
}



c-text-blob {
  width: 100%;
  margin-bottom: 0;
  position: relative;
  font-size: 2.5em;
  --header-fontsize: 1em;
  --smallTxt-fontsize: 16px;
}
c-text-blob > * {
  font-size: .4em;
}

title-container c-text-blob {
  padding-left: 40px;
  
  box-sizing: border-box;
  
  font-size: 2.5em;
  margin-bottom: 30px;

  width: max(20%, 340px);
  min-width: min-content;
  flex-grow: 1;
}


@media (max-width: 1000px) {
  title-container c-text-blob {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 620px) {
  title-container {
    width: 100%;
  }
  title-container c-text-blob {
    padding: 0;
  }
}

title-container > c-image, title-container > c-parallax {
  aspect-ratio: 10 / 9;
  max-height: 600px;
  margin-bottom: 60px;
}

title-container > c-parallax > c-image {
  width: 100%;
  height: 100%;
}



  

/* blog post content */



c-text-blob.h1 {
  font-size: 3em;
  
}

c-text-blob.h2 {
  font-size: 2.3em;
}

c-text-blob.h3 {
  font-size: 1.7em;
}

c-text-blob.h4 {
  font-size: 1.4em;
}

c-text-blob.h5 {
  font-size: 1.2em;
}

c-text-blob.h6 {
  font-size: 1.1em;
}

c-text-blob {
  margin-top: var(--margin);
}

c-text-blob + * {
  margin-top: calc(.2 * var(--margin)) !important
}

p {
  width: 100%;
  display: inline-block;
  line-height: 1.6em;
  margin-bottom: 0;
  margin-top: var(--margin);
}

p + p {
  /* margin-top: calc(2 * var(--margin)); */
}

c-image {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  width: 100%;
  border-radius: 15px;
  box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.2);
  
}

c-parallax > c-image {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
}

c-parallax {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  border-radius: 15px;
  box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.2);
}

hr {
  margin: 0;
  margin-top: calc(2 * var(--margin));
  margin-bottom: var(--margin);
  height: 2px;
  border: none;
  background-color: rgba(var(--primary-text), .5);
}

figure {
  margin: 0;
}

c-block-button {
  margin-top: var(--margin);
}

.align-btn-center {
  margin-right: auto;
  margin-left: auto;
}


.align-btn-right {
  margin-left: auto;
}
/* c-text-blob:not(.title)::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 24px;
  height: calc(100% - 32px);
  width: 5px;
  background-color: rgb(var(--primary-theme));
} */

.blogCard {
  display: inline-block;
  margin-top: var(--margin);
}

.blogCard.bg {
  background-color: rgba(255 255 255 / 48%)
}


blockquote {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-top: var(--margin);
  padding: 20px;
  background-color: rgba(var(--primary-theme), .1);
  font-style: italic;
  border-left: 5px solid rgb(var(--primary-theme));
  border-radius: 5px;
}




content-inner-container {
  display: inline-block;
  width: 100%;
  height: max-content;
}

content-container {
  align-items: center;
}