move-me {
  align-items: center;
}

:host(.loading) c-button {
  cursor: progress;
}


.buttonAccent {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 13px;
  opacity: 0;
  margin-right: -5px;
  fill: var(--text);
  top: 50%;
  transform: translateY(-50%);
}

loading-circle {
  border-radius: 50%;
  border: 2.5px solid var(--text);
  border-left-color: hsl(0deg 0% 0% / 0%);
  animation: spin 1s linear infinite;
  box-sizing: border-box;
}

:host(.disabled) {
  opacity: 1;
  /* filter: grayscale(25%); */
}

@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}