left-gradient {
  left: 17px;
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: .2s;
  background: linear-gradient(270deg, rgba(var(--background), 0), rgba(var(--background), 1));
}

right-gradient {
  right: 17px;
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: .2s;
  background: linear-gradient(90deg, rgba(var(--background), 0), rgba(var(--background), 1));
}

component-body:not(.scrollStart) left-gradient, component-body:not(.scrollEnd) right-gradient {
  opacity: 1;
}

input {
  overflow-x: "auto";
  overflow-y: hidden;
}
