:host {
  display: block;
}

c-button {
  width: inherit;
  height: inherit;
  max-height: inherit;
  max-width: inherit;
}

move-me {
  background-color: transparent;
}

::slotted(*) {
  z-index: 1;
}