:host {
  display: block;
  --_focus: var(--focus);
  --background: 0, 0, 0,0;
  cursor: pointer;
}

c-button {
  cursor: inherit;
  width: inherit;
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  font-weight: inherit;

  
  --focus: var(--_focus);

}

slot {
  position: relative;
}

::slotted(*) {
  z-index: 1;
  position: relative;
}