/* There is a bug in chrome which staggers transitions if declared in differnet shadowrrots on tspan... 04/06/2020 */

:host {
  display: inline-block;
  width: 32px;
  height: 32px;
  --color: #000;
  --transition: .4s fill, .4s stroke;
}


svg {
  width: inherit;
  height: inherit;
  display: block;
}

svg *:not(tspan) {
  transition: var(--transition);
}
