
<svg xmlns="http://www.w3.org/2000/svg" width="328.06" height="194.931" viewBox="0 0 328.06 194.931">
  <g id="Group_185" data-name="Group 185" transform="translate(0.005 -7.41)">
    <path id="Path_678" data-name="Path 678" d="M65.3,116.662a54.626,54.626,0,1,1,54.626-54.626A54.626,54.626,0,0,1,65.3,116.662Zm0-87.422a32.8,32.8,0,1,0,32.8,32.8A32.8,32.8,0,0,0,65.3,29.24Z" transform="translate(98.729 0)"/>
    <path id="Path_679" data-name="Path 679" d="M66.162,98.124a43.762,43.762,0,1,1,43.762-43.762A43.762,43.762,0,0,1,66.162,98.124Zm0-65.592a21.83,21.83,0,1,0,21.83,21.83,21.83,21.83,0,0,0-21.83-21.83Z" transform="translate(207.217 29.503)"/>
    <path id="Path_680" data-name="Path 680" d="M44.822,98.124A43.762,43.762,0,1,1,88.584,54.362,43.762,43.762,0,0,1,44.822,98.124Zm0-65.592a21.83,21.83,0,1,0,21.83,21.83A21.83,21.83,0,0,0,44.822,32.532Z" transform="translate(9.849 29.503)"/>
    <path id="Path_681" data-name="Path 681" d="M150.588,85.695a10.966,10.966,0,0,1-10.864-10.249,37.92,37.92,0,0,0-37.818-34.231H68.085A37.92,37.92,0,0,0,30.267,75.446,10.966,10.966,0,0,1,8.54,73.294,59.648,59.648,0,0,1,68.085,20h33.821a59.648,59.648,0,0,1,59.545,53.908A10.966,10.966,0,0,1,151.2,85.9Z" transform="translate(79.029 116.441)"/>
    <path id="Path_682" data-name="Path 682" d="M101.062,71.842A10.966,10.966,0,0,1,90.2,61.593,21.522,21.522,0,0,0,68.574,42.121H46.027a23.059,23.059,0,0,0-6.354.922,10.966,10.966,0,1,1-6.252-20.5A44.889,44.889,0,0,1,46.027,20.7H68.574a43.352,43.352,0,0,1,43.455,39.15A10.966,10.966,0,0,1,101.78,71.842Z" transform="translate(215.976 122.915)"/>
    <path id="Path_683" data-name="Path 683" d="M11.011,71.842h-.717A10.966,10.966,0,0,1,.045,59.851,43.352,43.352,0,0,1,43.4,20.7H65.944A44.89,44.89,0,0,1,78.55,22.545a10.966,10.966,0,1,1-6.252,20.5,23.06,23.06,0,0,0-6.354-.922H43.4A21.522,21.522,0,0,0,21.772,61.593,10.966,10.966,0,0,1,11.011,71.842Z" transform="translate(0 122.915)"/>
  </g>
</svg>
