:host {
  display: flex;
  font-size: 18px;
  align-items: center;
  cursor: pointer;
  position: relative;
  float: left;
  width: 100%;
}

c-link {
  /* margin-left: 7px; */
}

::slotted(*) {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100%;
}