:host {
  --inner-width: 100%;
  --inner-height: 100%;
  --inner2-width: 100%;
  --inner2-height: 100%;

  width: 100%;
  height: 100%;
  
  display: inline-block;
  vertical-align:bottom;
  --display: block;
  position: relative;
  --object-position: 50% 50%;
}

picture {
  display: var(--display);
  width: var(--inner-width);
  height: var(--inner-height);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: inherit;
}
picture:first-of-type {
  position: relative;
  top: initial;
  left: initial;
}

img {
  display: var(--display);
  opacity: 0;
  object-fit: cover;
  object-position: var(--object-position);
  width: var(--inner2-width);
  height: var(--inner2-height);
  user-select: none;
  user-drag: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

