
<svg width="344" height="344" viewBox="0 0 344 344" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M237.7 0.0996094H106.3C47.6996 0.0996094 0.0996094 47.6996 0.0996094 106.3V237.7C0.0996094 296.3 47.6996 343.9 106.3 343.9H237.7C296.3 343.9 343.9 296.3 343.9 237.7V106.3C343.9 47.7996 296.2 0.0996094 237.7 0.0996094ZM302.6 237.7C302.6 275.1 275.1 302.6 237.7 302.6H106.3C68.8996 302.6 41.3996 275.1 41.3996 237.7V106.3C41.3996 68.8996 68.8996 41.3996 106.3 41.3996H237.7C275.1 41.3996 302.6 68.8996 302.6 106.3V172V237.7Z" fill="black"/>
<path d="M172 82C122.444 82 82 122.341 82 172C82 221.659 122.341 262 172 262C221.659 262 262 221.659 262 172C262 122.341 221.556 82 172 82V82ZM172 226.676C141.898 226.676 117.324 202.205 117.324 172C117.324 141.898 141.795 117.324 172 117.324C202.102 117.324 226.676 141.795 226.676 172C226.676 202.102 202.102 226.676 172 226.676V226.676Z" fill="black"/>
<path d="M261.204 104.152C271.716 102.448 278.856 92.5453 277.152 82.0334C275.448 71.5215 265.545 64.3814 255.033 66.0854C244.522 67.7895 237.381 77.6925 239.085 88.2043C240.79 98.7162 250.692 105.856 261.204 104.152Z" fill="black"/>
</svg>
