<svg id="Group_1" data-name="Group 1" xmlns="http://www.w3.org/2000/svg" width="713.302" height="713.302" viewBox="0 0 713.302 713.302">
  <path id="Path_2" data-name="Path 2" d="M448.813,478.534H92.163a29.808,29.808,0,0,1-29.721-29.721V92.163A29.808,29.808,0,0,1,92.163,62.442h148.6a29.721,29.721,0,0,0,0-59.442H62.442A59.425,59.425,0,0,0,3,62.442V478.534a59.617,59.617,0,0,0,59.442,59.442H478.534a59.617,59.617,0,0,0,59.442-59.442V300.209a29.721,29.721,0,1,0-59.442,0v148.6A29.808,29.808,0,0,1,448.813,478.534ZM329.93,32.721a29.808,29.808,0,0,0,29.721,29.721h76.977L165.276,333.794A29.632,29.632,0,0,0,207.183,375.7L478.534,104.348v76.977a29.721,29.721,0,1,0,59.442,0V49.88c0-27.031-6.686-46.88-48.31-46.88H359.651A29.808,29.808,0,0,0,329.93,32.721Z" transform="translate(86.163 86.163)"/>
</svg>
