
<svg width="512" height="370" viewBox="0 0 512 370" xmlns="http://www.w3.org/2000/svg">
  <path d="M500.088 12.6811C484.247 -3.18092 458.523 -3.17092 442.661 12.6811L184.205 271.148L69.3315 156.276C53.4695 140.414 27.7575 140.414 11.8955 156.276C-3.96648 172.138 -3.96648 197.85 11.8955 213.712L155.481 357.297C163.407 365.223 173.8 369.196 184.194 369.196C194.588 369.196 204.991 365.233 212.917 357.297L500.088 70.1161C515.95 54.2651 515.95 28.5421 500.088 12.6811Z"/>
</svg>
