:host {
  position: relative;
  display: block;
}

:host(:not(.disabled)) {
  cursor: text;
}


move-me {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

component-body {
  position: relative;
}

placeholder-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
  border-radius: inherit;
  overflow: hidden;
  z-index: 1;
}

placeholder-text {
  font-size: 14px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}



#editAble {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  background: transparent;
  font-size: 14px;
  font-family: inherit;
}

#editAble {
  padding: 15px 17px;
  padding-top: 23px; /* a */
  padding-bottom: 8px;
}

placeholder-text {
  padding: 15px 17px;
  padding-top: 14px; /* a - 9 */
  padding-bottom: 0;
}