
<svg width="976" height="861" viewBox="0 0 976 861" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M925.036 0.196777H621.036C593.436 0.196777 571.036 22.5968 571.036 50.1968V354.197C571.036 381.798 593.436 404.197 621.036 404.197H766.536C764.636 483.798 746.136 547.497 711.136 595.397C683.536 633.197 641.737 664.497 585.836 689.197C560.136 700.497 549.036 730.897 561.036 756.298L597.036 832.298C608.636 856.697 637.336 867.398 662.136 856.697C728.336 828.097 784.237 791.897 829.836 747.897C885.437 694.197 923.536 633.597 944.136 565.997C964.737 498.397 975.036 406.197 975.036 289.197V50.1968C975.036 22.5978 952.635 0.196777 925.036 0.196777Z"/>
<path d="M106.036 856.497C171.436 827.997 227.036 791.798 272.936 747.897C329.036 694.197 367.336 633.797 387.936 566.697C408.536 499.597 418.835 407.097 418.835 289.197V50.1968C418.835 22.5968 396.436 0.196777 368.835 0.196777H64.8351C37.2351 0.196777 14.8351 22.5968 14.8351 50.1968V354.197C14.8351 381.798 37.2351 404.197 64.8351 404.197H210.335C208.435 483.798 189.935 547.497 154.935 595.397C127.335 633.197 85.5351 664.497 29.6351 689.197C3.93512 700.497 -7.16488 730.897 4.83512 756.298L40.7351 832.098C52.3361 856.497 81.2361 867.298 106.036 856.497Z"/>
</g>
</svg>
