:host {
  display: block;
  position: relative;
  box-sizing: border-box;
}

component-body {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoBox {
  z-index: 1;
  margin-bottom: 80px;
}

c-block-button {
  --background: var(--primary-theme);
  --text: var(--plain-background);
}

c-big-logo-icon {
  height: 180px;
  width: min(500px, 80vw);
  margin-top: 150px;
  margin-bottom: 10px;
}

c-text-blob {
  width: 50%;
  --body-size: 100%;
  margin-left: 100px;
  max-width: 90%;
}


@media (max-width: 1350px) {
  component-body {
    flex-direction: column;
    height: max-content;
    padding-bottom: 100px;
  }

  c-text-blob {
    margin-left: 0;
    width: 80%;
  }
}


@media (max-width: 555px) {
  c-big-logo-icon {
    height: 32vw;
    
  }
}

@media (max-width: 300px) {
  c-big-logo-icon {
    width: 240px;
    height: 96px;
  }
}









c-oval-icon {
  --color: rgb(var(--tertiary-strongly-themed-background));
  position: absolute;
  /* left: -100px; */
  width: auto;
  height: 1000px;
  bottom: -300px;
  left: 0;
  transform: translate(-280px, -558px) scale(2);

}

@media (max-width: 1190px) {
  c-oval-icon {
    height: 1500px;
  }
}