
<svg width="229" height="203" viewBox="0 0 229 203" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M129.43 6.92809C121.193 -1.30915 107.825 -1.31478 99.5852 6.92809L6.35259 100.149C-1.8931 108.392 -1.8931 121.757 6.34977 129.997C10.4726 134.12 15.8731 136.18 21.2764 136.18C23.3702 136.18 25.4612 135.862 27.4818 135.243V180.999C27.4818 192.659 36.9292 202.106 48.5885 202.106H180.441C192.1 202.106 201.547 192.659 201.547 180.999V135.251C208.769 137.458 216.947 135.716 222.663 130C230.905 121.757 230.906 108.392 222.66 100.152L129.43 6.92809ZM54.6952 174.896V96.5106L114.509 36.7025L174.334 96.5247V174.896H54.6952Z" fill="black"/>
</svg>
