<svg xmlns="http://www.w3.org/2000/svg" width="19.72" height="19.72" viewBox="0 0 19.72 19.72">
  <g id="layer1" transform="translate(-0.529 -291.179)">
    <path id="path947" d="M19.259,291.179a.98.98,0,0,0-.306.052l-17.748,5.91a.986.986,0,0,0-.131,1.818l7.593,3.8,3.8,7.592a.986.986,0,0,0,1.82-.131L20.2,292.476a.986.986,0,0,0-.94-1.3ZM17.7,293.727l-4.534,13.612L10.6,302.22l3.444-3.442a.989.989,0,1,0-1.4-1.4l-3.442,3.444-5.12-2.561Z" transform="translate(0 0)" fill="#2d1e1e"/>
  </g>
</svg>
