
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1189" height="333" viewBox="0 0 1189 333">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_173" data-name="Rectangle 173" width="1189" height="333" transform="translate(889 438)" fill="var(--color)"/>
    </clipPath>
    <filter id="Ellipse_771" x="178" y="22" width="1661" height="1661" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="15" result="blur"/>
      <feFlood flood-opacity="0.09"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Mask_Group_21" data-name="Mask Group 21" transform="translate(-889 -438)" clip-path="url(#clip-path)">
    <g transform="matrix(1, 0, 0, 1, 889, 438)" filter="url(#Ellipse_771)">
      <circle id="Ellipse_771-2" data-name="Ellipse 771" cx="785.5" cy="785.5" r="785.5" transform="translate(223 67)" fill="var(--color)"/>
    </g>
  </g>
</svg>
