element-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* @font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./../../../res/font/overpass.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

offline-indecator {
  height: 0px;
  overflow: hidden;
  width: 100%;
  background: #1f7eea;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  opacity: 0;
  user-select: none;
}
offline-indecator > indecator-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

offline-indecator > indecator-icon > * {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

offline-indecator > indecator-dash {
  position: relative;
  float: left;

  margin: 0 5px;
}

offline-indecator > indecator-text {
  position: relative;
  transform: translateY(1px);
  opacity: 0;
  width: 50px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

c-panel-manager {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
}
