
left-side
  left-side-wrapper
    shadow-box
    c-text-blob(heading="Konstanzia-gasse 50" note="Wir sind die" text="Als Junior High School mit Informatik&shy;schwerpunkt begleiten wir Schüler*innen auf ihrem Weg die Zukunft aktiv mitzugestalten. <br> - Let's shape the future together!")
    c-block-button(name="btn" link="https://maps.app.goo.gl/qPkFva8nnT6JEMGx5")
      address-txt 
        span.str Konstanziagasse 50
        span.comma , 
        span.bz 1220 
        span.plc Wien
      view-btn View
    
  
right-side
  c-image(src="childrenPresentation2")
  x-bar
  