:host {
  pointer-events: none;
}

component-body {
  display: flex;
  align-items: center;
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Do not show a scrollbar */
component-body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit */
component-body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

blurry-background {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity .3s;
  border-bottom: 1px solid rgba(0,0,0,0.16);
  box-sizing: border-box;
  opacity: 0;

  /* Only when browser does not support blur */
  background-color: rgba(var(--plain-background-values), .9);

  
}


blurry-background.blurry {
  opacity: 1;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  blurry-background {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    background-color: unset;
  }
}

.logo {
  opacity: 0;
}

.logo {
  transition: .25s;
}

c-arrow-icon {
  transition: fill .25s;
}




left-content {
  position: relative;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

left-content > * {
  pointer-events: all;
}

link-animation-wrapper > * {
  pointer-events: all;
}

additional-path-display > * {
  pointer-events: all;
}

.appNameLink {
  font-weight: bold;
  font-size: 18px;
}


left-content > .logo {
  height: 30px;
  width: 55px;
  position: relative;
  float: left;
}

c-button#homeButton {
  position: absolute;
  left: 0;
  height: 30px;
  width: 55px;
  opacity: .2;
}

right-content {
  display: inline-block;
  position: absolute;
  right: 100px;
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(100% - 100px);
}


link-animation-wrapper {
  display: inline-block;  
  transform: translateX(-17px);
  position: absolute;
  right: 0;

}

right-content > link-animation-wrapper > c-link {
  margin: 0 18px;
  font-weight: normal;
  opacity: 0;
  transform: translateX(-3px);
  position: relative;
  float: left;
}

right-content > link-animation-wrapper >  c-link:first-of-type {
  padding-left: 0;
}

right-content > link-animation-wrapper >  c-link:last-of-type {
  padding-right: 0;
}

c-slidy-underline {
  position: absolute;
  transform: translateY(13px);
  opacity: 0;
}

path-display {
  position: relative;
  display: flex;
  align-items: center;
}

path-display > * {
  white-space: nowrap;
}

path-display > *:not(additional-path-display) {
  opacity: 0;
  display: none;
}

path-display c-arrow-icon {
  margin: 0 16px;
  height: 17px;
  width: 6.5px;
}

additional-path-display {
  margin: 0 10px;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  width: max-content;
  transform: translateY(-5px) scale(.95);
}

additional-path-display > * {
  position: relative;
  float: left;
  display: block;
  height: auto;
  width: 35px;
  height: 35px;
  margin: 0 5px;

  display: none;
  opacity: 0;
  transform: translateX(-3px)
}


split-line {
  background: rgba(var(--primary-text-values), .3);
  width: 1px;
  height: 25px;
  margin: 0 15px;
  margin-left: 20px;
}

component-body.mobile split-line {
  visibility: hidden;
}

component-body.mobile additional-path-display {
  right: 20px;
}

component-body:not(.mobile) additional-path-display {
  position: relative;
}
