<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1296.287" height="1013.396" viewBox="0 0 1296.287 1013.396">
  <defs>
    <filter id="Rectangle_182" x="394.874" y="28.93" width="901.413" height="573.916" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="10" result="blur"/>
      <feFlood flood-opacity="0.09"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <linearGradient id="linear-gradient" x1="0.217" y1="0.566" x2="1.393" y2="0.818" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#c7d5ff"/>
      <stop offset="1" stop-color="#b8539e"/>
    </linearGradient>
    <filter id="Path_592" x="162.092" y="89.349" width="265.908" height="378.828" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="10" result="blur-2"/>
      <feFlood flood-opacity="0.051"/>
      <feComposite operator="in" in2="blur-2"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <filter id="sam-o-leary-X4-IcYLyv1Q-unsplash" x="328" y="89.349" width="919" height="595" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="10" result="blur-3"/>
      <feFlood flood-opacity="0.161"/>
      <feComposite operator="in" in2="blur-3"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Group_184" data-name="Group 184" transform="translate(-562 -121.651)">
    <g id="back"><path id="Path_662" data-name="Path 662" d="M1665.616,377.149c-52.3-206.092-508.247-276.823-701.748-281.834-138.741-3.593-284.734,38.863-391.027,187.429-190.01,265.579,11.677,449.1,152.287,536.308,67.932,42.217,93.77,96.477,146.485,154.314,94.978,103.991,313.065,229.716,530.672,27.243C1560.012,853.855,1665.616,377.149,1665.616,377.149Z" transform="translate(66.688 26.544)" fill="#e5ebfc" opacity="0.69"/></g>
    <g transform="matrix(1, 0, 0, 1, 562, 121.65)" filter="url(#Rectangle_182)">
      <rect id="Rectangle_182-2" data-name="Rectangle 182" width="824.975" height="485.421" rx="40" transform="matrix(1, 0.03, -0.03, 1, 441.81, 58.93)" fill="#f7f9ff"/>
    </g>
    <g id="Group_172" data-name="Group 172" transform="translate(1704 2155) rotate(180)">
      <rect id="Rectangle_22" data-name="Rectangle 22" width="10" height="10" transform="translate(912 1488)" fill="#2459d7"/>
      <rect id="Rectangle_23" data-name="Rectangle 23" width="10" height="10" transform="translate(932 1478)" fill="#ee2534"/>
    </g>
    <g id="Group_169" data-name="Group 169" transform="translate(754.092 241)">
      <g transform="matrix(1, 0, 0, 1, -192.09, -119.35)" filter="url(#Path_592)">
        <path id="Path_592-2" data-name="Path 592" d="M948.8,380.22c1.587,1.091,3.144,2.2,4.7,3.341a410.08,410.08,0,0,1,22.51,134.732q.009,7.955-.346,15.869a398.188,398.188,0,0,1-22.394,116.016q-1.044,2.949-2.126,5.871c-.517,1.4-1.043,2.81-1.607,4.195-.564.7-1.12,1.382-1.675,2.067-.038.029-.073.081-.112.111-.224.276-.448.553-.65.825-.96,1.173-1.933,2.339-2.893,3.512l.76.087,1.9.208-.008.012c-.641-.042-1.294-.094-1.939-.157-.235-.01-.491-.016-.73-.048-.214-.014-.44-.037-.654-.05-27.508-2-55.632-4.655-80.182-17.058-25.7-12.992-46.789-39.514-44.351-68.195a51.623,51.623,0,0,1,2.209-11.059c.475-1.5,1.023-2.973,1.6-4.439a54.354,54.354,0,0,1,93.93-12.813c-6.174-29.888-37.763-46.432-66.416-56.921-28.674-10.484-60.968-21.555-74.619-48.852-7.624-15.192-7.039-32.461-.9-48.153.186-.469.382-.95.59-1.424a79.312,79.312,0,0,1,40.179-41.636c33.992-14.948,74.124-7.3,107.518,8.937a196.6,196.6,0,0,1,25.7,15.022Z" transform="translate(-578.01 -228.89)" fill="url(#linear-gradient)"/>
      </g>
      <path id="Path_593" data-name="Path 593" d="M818.572,567.183a122.379,122.379,0,0,1,68.951,33.848,125.232,125.232,0,0,1,33.034,57.424c.33,1.245.626,2.487.9,3.732.717-1.227,1.417-2.483,2.109-3.727.445-.8.9-1.605,1.331-2.41-.517,1.4-1.043,2.81-1.607,4.195-.564.7-1.12,1.382-1.675,2.067-.038.029-.073.081-.112.111-.224.276-.448.553-.65.825-.96,1.173-1.933,2.339-2.893,3.512l.76.087,1.9.208-.008.012c-.641-.042-1.294-.094-1.939-.157-.235-.01-.491-.016-.73-.048-.062-.376-.145-.748-.228-1.121A118.245,118.245,0,0,0,794.967,570.5c.475-1.5,1.023-2.972,1.6-4.439A126.5,126.5,0,0,1,818.572,567.183Z" transform="translate(-743.855 -348.238)" fill="#fff"/>
      <path id="Path_594" data-name="Path 594" d="M931.9,461.846a134.647,134.647,0,0,1,26.286,28.99,111.723,111.723,0,0,1,9.711,18.35c1.264,2.973,2.4,6.027,3.406,9.106q.009,7.955-.346,15.869a115.394,115.394,0,0,0-3.012-11.946c-.628-2.154-1.337-4.269-2.1-6.363-8.534-23.45-25.066-42.41-44.91-57.156-21.265-15.78-45.493-28-70.182-37.393a331.4,331.4,0,0,0-78.578-19.433,2.377,2.377,0,0,1-2.069-2.551,2.045,2.045,0,0,1,.59-1.424,1.7,1.7,0,0,1,1.477-.4c3.318.4,6.627.815,9.932,1.318a335.33,335.33,0,0,1,80.03,22.348C886.9,431.5,911.274,444.544,931.9,461.846Z" transform="translate(-765.396 -348.238)" fill="#fff"/>
    </g>
  </g>
</svg>
<hero-vid>
  <c-image src="titleImage"></c-image>
  <darken-overlay></darken-overlay>
  
//- <svg xmlns="http://www.w3.org/2000/svg" width="85" height="92.254" viewBox="0 0 85 92.254" id="play">
//-   <path d="M86.981,42.343,27.3,8.671a12.71,12.71,0,0,0-12.78.1A12.284,12.284,0,0,0,8.333,19.452V86.8a12.284,12.284,0,0,0,6.185,10.683,12.715,12.715,0,0,0,12.78.1L86.981,63.9a12.324,12.324,0,0,0,0-21.562Z" transform="translate(-8.333 -6.997)" fill="#fff"/>
//- </svg>

</hero-vid>