<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="339.685" height="250.663" viewBox="0 0 339.685 250.663">
  <defs>
    <filter id="Speech_Bubble_48_" x="0" y="0" width="339.685" height="250.663" filterUnits="userSpaceOnUse">
      <feOffset input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="8" result="blur"/>
      <feFlood flood-opacity="0.102"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="speachBubble" transform="translate(-633.818 -7469.12)">
    <g transform="matrix(1, 0, 0, 1, 633.82, 7469.12)" filter="url(#Speech_Bubble_48_)">
      <path id="Speech_Bubble_48_2" data-name="Speech_Bubble_48_" d="M42.468,233.211H21.8l14.614-11.532c7.88-6.218,12.8-14.306,14.123-23.079C16.794,181.124,0,155.808,0,129.269,0,80.306,57.026,30.548,146.337,30.548c94.614,0,145.348,45.786,145.348,94.431,0,48.965-51.27,94.721-145.348,94.721a247.2,247.2,0,0,1-49.031-4.922c-14.534,11.764-34.227,18.432-54.837,18.432Z" transform="translate(24 -6.55)" fill="#fff"/>
    </g>
    <g id="text" data-name="Group 13" transform="translate(398.3 7207.131)">
      <rect id="Rectangle_55" data-name="Rectangle 55" width="35.072" height="8.443" transform="translate(335.865 346.369)"/>
      <rect id="Rectangle_56" data-name="Rectangle 56" width="12.34" height="8.443" transform="translate(480.051 346.369)" />
      <rect id="Rectangle_57" data-name="Rectangle 57" width="12.34" height="8.443" transform="translate(504.731 346.369)" />
      <rect id="Rectangle_58" data-name="Rectangle 58" width="83.784" height="8.443" transform="translate(383.278 346.369)" />
      <rect id="Rectangle_59" data-name="Rectangle 59" width="35.072" height="8.443" transform="translate(291.7 400.926)" />
      <rect id="Rectangle_60" data-name="Rectangle 60" width="12.34" height="8.443" transform="translate(435.886 400.926)" />
      <rect id="Rectangle_61" data-name="Rectangle 61" width="12.34" height="8.443" transform="translate(460.566 400.926)" />
      <rect id="Rectangle_62" data-name="Rectangle 62" width="83.784" height="8.443" transform="translate(339.112 400.926)" />
      <rect id="Rectangle_63" data-name="Rectangle 63" width="35.072" height="8.443" transform="translate(436.535 365.204)" />
      <rect id="Rectangle_64" data-name="Rectangle 64" width="35.072" height="8.443" transform="translate(483.948 365.204)" />
      <rect id="Rectangle_66" data-name="Rectangle 66" width="12.34" height="8.443" transform="translate(291.7 365.204)" />
      <rect id="Rectangle_67" data-name="Rectangle 67" width="12.34" height="8.443" transform="translate(316.38 365.204)" />
      <rect id="Rectangle_68" data-name="Rectangle 68" width="83.784" height="8.443" transform="translate(341.061 365.204)" />
      <rect id="Rectangle_69" data-name="Rectangle 69" width="35.072" height="8.443" transform="translate(398.865 391.833) rotate(180)" />
      <rect id="Rectangle_70" data-name="Rectangle 70" width="35.072" height="8.443" transform="translate(351.453 391.833) rotate(180)" />
      <rect id="Rectangle_71" data-name="Rectangle 71" width="12.34" height="8.443" transform="translate(304.04 391.833) rotate(180)" />
      <rect id="Rectangle_73" data-name="Rectangle 73" width="12.34" height="8.443" transform="translate(519.02 391.833) rotate(180)" />
      <rect id="Rectangle_74" data-name="Rectangle 74" width="83.784" height="8.443" transform="translate(494.34 391.833) rotate(180)" />
    </g>
  </g>
</svg>
